
@{
    ViewData["Title"] = "Create";
}

    <div class="row" style="width:1090px;margin-left:275px;">
        <div class="col-12">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    @*<label asp-for="CategoryName" class="d-block mt-3"></label>
                    <input asp-for="CategoryName" autocomplete="off" class="form-control" />*@
                </div>
                <button type="submit" class="btn-primary">
                    Create
                </button>

            </form>
        </div>
    </div>

